body{
	background: black;
	font-family: 'Trebuchet MS', sans-serif;
	overflow: hidden;}
#maindiv{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	
}
#topPanel{
	box-shadow: 0 0 12px 4px;
	color: #C8AD7E;
	margin-top: 20px;
	margin-bottom: 20px;
}
#logo{
	margin-left: 30px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: -60px;
    margin-right: 60px;
    color: #d4d4d4;
    font-size: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #d4d4d4;
    padding: 20px 25px;
    border: 20px;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: #C8AD7E;
    color: #000;
}

.card-img{
	grid-area: img;
	border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;

}
.card-text{
	grid-area: text;
	 margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;

}
.card-price{
	grid-area: price;
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}